@mixin grid-xs {
    @media (max-width: 576px) {
      @content;
    }
  }
  @mixin grid-sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @mixin grid-md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @mixin grid-lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @mixin grid-xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @mixin grid-xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
  
  
  