@keyframes attention {
  0% {
    bottom: 2.5vh;
  }

  50% {
    bottom: 2.9vh;
  }
  100% {
    bottom: 2.7vh;
  }
}

.button {
  &-search {
    @extend .pt-3;
  }
  &-order {
    a {
      animation: attention 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
      position: fixed;
      right: 2.5vw;
      bottom: 2.5vh;
      z-index: 1200;
      transition: background-color 0.5s linear;
      color: #fff;
      background-color: #198754;
      @extend .shadow;
    
      .button-order-description {
        @extend .d-none;
      }
    }

    &:hover,
    &:focus {
      a {
        background-color: #fff;
        color: #198754;
      }
    }
  }

  &-group-order {
    @extend .row;
    @extend .py-2;
    &-remove {
      @extend .border-danger;
      svg {
        @extend .text-danger;
      }
      &:hover,
      &:focus {
        @extend .bg-danger;
        svg {
          @extend .text-white;
        }
      }
    }
    &-add {
      @extend .border-primary;
      svg {
        @extend .text-primary;
      }
      &:hover,
      &:focus {
        @extend .bg-primary;
        svg {
          @extend .text-white;
        }
      }
    }
    &-cancel {
      @extend .border-warning;
      svg {
        @extend .text-warning;
      }
      &:hover,
      &:focus {
        @extend .bg-warning;
        svg {
          @extend .text-white;
        }
      }
    }
    button {
      @extend .mx-auto;
      @extend .border-0;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .rounded-circle;
      @extend .col-2;
      width: 65px;
      height: 65px;
    }
  }

  &-buy {
    @extend .w-100;
    @extend .text-center;
    @extend .pt-3;
    button {
      color: #fff;
      @extend .border;
      @extend .px-3;
      @extend .py-2;
      background-color: $primary-color;
      svg {
        @extend .mr-2;
      }
    }
    &:hover,
    &:focus {
      button {
        color: $primary-color;
        border-color: $primary-color !important;
      }
    }
  }
}

.price-footer {
  @extend .border;
  @extend .rounded;
  p {
    @extend .m-0;
  }
  strong {
    @extend .text-uppercase;
  }
  &-input {
    div,
    input {
      @extend .w-100;
      @extend .text-center;
    }
  }
}
