.dialog {
  &-order {
    div[role="dialog"] {
      @extend .mx-auto;
      @extend .col-10;
      @extend .col-md-12;
    }
  }

  &-title{
    padding-right: 50px !important;
  }

  &-close {
    width: 48px;
    right: 0;
    position: absolute !important;
  }
}
