.filter {
  &-container {
    @extend .row;
    @extend .p-3;
    @extend .p-md-4;
    @extend .align-items-start;
    height: 100vw;
  }
  &-option {
    @extend .bg-white;

    @extend .py-4;
    @extend .mb-4;
    @extend .col-12;
    @extend .col-md-4;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    .MuiAccordion-rounded {
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin: 1rem 0;
      box-shadow: none;
    }
    button {
      margin: 0;
      text-transform: none;
      letter-spacing: 0;
    }
    .MuiAccordionDetails-root {
      display: block;
      & > div[role="group"] {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
  &-collection {
    padding: 0;
    .MuiInput-underline:before,
    .MuiInput-underline:after {
      display: none;
    }
    & > div {
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
    .MuiInput-root,
    .select-collection {
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      position: relative;
      min-height: 48px;
      //   .MuiSelect-select {
      //     padding-right: 0;
      //   }

      //   .MuiSelect-root {
      //     position: relative;
      //   }
    }
  }
  &-content {
    @extend .col-12;
    @extend .col-md-8;
    @extend .px-0;
    @extend .px-md-2;
    @extend .h-100;
    @extend .clearfix;
    .product-list {
      @extend .pt-0;
    }
    ul {
      li {
        @extend .col-12;
        @extend .col-sm-6;
        @extend .col-md-6;
        @extend .col-lg-4;
        @extend .px-0;
        @extend .px-md-2;
      }
    }
  }
  &-results {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-start;
  }
}

.product {
  &-list {
    padding-top: 1.5rem;
    ul {
      @extend .m-0;
      @extend .h-auto;
      @extend .row;
      @extend .w-100;
      overflow: visible;

      li {
        @extend .col-12;
        @extend .col-sm-6;
        @extend .col-md-6;
        @extend .col-lg-4;
        @extend .col-xl-3;

        padding-bottom: calc(var(--bs-gutter-x) / 2);
        > div {
          @extend .p-3;
          @extend .position-relative;
          transition: transform 0.3s linear;
          border: 1px solid $border-color;
          height: 100%;
          &:hover {
            @extend .shadow;
            // transform: scale(1.05);
            z-index: 500;
          }
        }
      }
    }
  }

  &-description {
    @extend .w-100;
  }
  &-name {
    font-size: 1rem;
    @extend .fw-bold;
  }
  &-company {
    @extend .border-top;
    @extend .pt-2;
    @extend .mt-2;
    @extend .text-muted;
    @extend .small;
  }
  &-price {
  }
  &-add,
  &-done {
    & > span {
      display: none;
    }
  }
  &-add {
    @extend .position-absolute;
    @extend .rounded-circle;
    @extend .p-3;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .shadow;
    z-index: 100;
    transition: background-color 0.3s linear, border-color 0.2s linear;
    border: 1px solid #fff;
    background: #fff;
    color: #222;
    line-height: 1;
    height: 60px;
    width: 60px;
    top: 5%;
    right: 10%;

    &:hover {
      background: var(--primary);
      border-color: var(--primary);
      cursor: pointer;
      color: #fff;
    }
    span {
      // @extend .d-none;
    }
    .product-add-icon-shop {
      display: block;
    }
    .product-add-icon-done {
      display: block;
      //display: none;
    }
  }
  &-done {
    .product-add-icon-shop {
      display: none;
    }
    .product-add-icon-done {
      display: block;
    }
    @extend .product-add;
    background-color: $success-background;
    border-color: $success-background;
    i {
      color: #fff;
    }
  }
  &-carousel {
    @extend .w-100;
    @extend .py-3;
    @extend .justify-content-center;
    @extend .d-flex;
    svg {
      opacity: 0.8;
      &.MuiSvgIcon-colorDisabled {
        width: 18px;
      }
      &:last-of-type {
        @extend .d-none;
      }
    }
  }
  &-options {
    @extend .w-100;
  }
}
// .section-title {
//   //   text-transform: uppercase;
//   margin-bottom: 0.5rem;
//   //   opacity: 0.7;
// }

// .results-items {
//   width: 65%;
//   padding: 0 1rem;
//   & > div {
//     background: red;
//     ul {
//       margin: 0;
//       height: auto;
//       width: 100%;
//       & > div {
//         width: 25%;
//         padding: 0.5rem;
//         & > div {
//           width: 100%;
//           max-width: 100%;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   .results-items,
//   .filter-container {
//     width: 100%;
//     flex-direction: column;
//   }
//   .filter-results {
//     flex-direction: column;
//   }

//   .results-items {
//     margin: 1rem 0;
//     padding: 0;

//     & > div ul > div {
//       width: 100%;
//     }
//   }
// }

// @media screen and (max-width: 1024px) {
//   .results-items {
//     & > div {
//       ul {
//         & > div {
//             width:50%
//         }
//       }
//     }
//   }
// }

.AAAAAAAAAAAA {
  background: red;
}
