.product {
  &-picture {
    width: 100% !important;
    @extend .p-0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    &,
    & img,
    & div {
      height: 450px;
      @extend .rounded;
      @include grid-xs {
        // border: 0px solid red;
      }
      @include grid-sm {
        // border: 0px solid blue;
      }
      @include grid-md {
        // border: 0px solid yellow;
      }
      @include grid-lg {
        // border: 0px solid pink;
      }
      @include grid-xl {
        // border: 0px solid brown;
      }
    }

    img,
    div {
      @extend .p-0;
      @extend .rounded;
      width: 100% !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.product {
  &-picture {
    @extend .position-relative;
    //   @extend .align-items-center;
    z-index: 3;
  }
}
.picture {
  &-nav {
    @extend .row;
    @extend .mx-auto;
    @extend .position-absolute;
    height: 450px;
    float: left;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: transparent !important;
  }

  &-navigate {
    @extend .col;
    background-color: transparent !important;
    @extend .d-flex;
    @extend .align-items-stretch;

    .material-icons {
      @extend .align-items-center;
      @extend .rounded-circle;
      @extend .d-flex;
      @extend .p-3;
      height: 100%;
      width: 100%;
    }
    &-next {
      .material-icons {
        @extend .justify-content-end;
      }
    }
    &-before {
      .material-icons {
        @extend .justify-content-start;
      }
    }
  }
}
