.product {
  &-grid {
    @extend .clearfix;
    @extend .w-100;
    &-cell {
      text-align: center;
      // @extend .p-2;
      .MuiInput-underline {
        &:before,
        &:after {
          @extend .d-none;
        }
      }
      input[type="number"] {
        @extend .border;
        @extend .p-0;
        height: 2rem;
        text-align: center;
        border: 1px solid var(--primary);
        border-bottom-width: 0;
        &:focus {
          background: lightgoldenrodyellow;
          border-color: #7467ef !important;
        }
      }
    }
    &-options {
      .MuiDataGrid-window {
        // overflow: hidden !important;
      }
    }
    .MuiDataGrid-root .MuiDataGrid-colCell {
      display: flex;
      justify-content: center;
    }
  }
  &-color {
    @extend .text-center;
    @extend .w-100;
    &-name {
      @extend .d-none;
      @extend .d-md-inline-block;
      &-mobile {
        @extend .d-inline-block;
        @extend .d-md-none;
      }
    }
    &-icon {
      @extend .shadow-sm;
      @extend .rounded-circle;
      @extend .me-2;
      // @extend .border;
      // padding: 2px;
    }
  }
  &-none {
    // background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    @extend .text-center;
    @extend .p-0;
  }
  &-table {
    @extend .table;
    @extend .table-hover;
    @extend .table-striped;
    @extend .table-bordered;
    min-width: 0;
    font-size: 14px;
    th,
    td {
      @extend .text-center;
      select {
        @extend .border-0;
        @extend .text-center;
        @extend .d-block;
        @extend .mx-auto;
        background-color: transparent;
        width: 90%;
        &:focus {
          outline: none;
          box-shadow: transparent;
        }
      }
    }
    & tbody tr td:first-child {
      width: 32px;
      max-width: 32px;
    }
    & tbody tr td:first-child,
    & > :not(caption) > * > * {
      @extend .px-0;
    }
  }
}
