.steps {
  &-container {
    @extend .bg-white;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-md-row;
    @extend .flex-column;
    @extend .align-items-center;
    @extend .justify-content-between;
    @extend .row;
    @extend .text-uppercase;
  }
  &-back,
  &-details,
  &-new {
    @extend .py-2;
    @extend .py-3;
    @extend .flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .col-12;
    @extend .col-md-2;
  }
  &-details {
    @extend .col-md-8;
    & > div {
      @extend .w-100;
    }
  }
  &-back,
  &-new {
    @extend .col-md-2;
    button {
      @extend .text-uppercase;
    }
    .material-icons {
      font-size: 1rem;
    }
  }
  &-back {
    .material-icons {
      @extend .mr-2;
    }
  }
  &-new {
    .material-icons {
      @extend .ml-2;
    }
  }
  // &-client {
  // }
}

@media screen and (max-width: 576px) {
  .steps-client {
    // background: red;
    border: 1px solid rgba(0, 0, 0, 0.12);
    flex-wrap: wrap;
    button {
      border-width: 0 0 1px 0;
      width: 100%;
      border-radius: 0 !important;
      &:last-of-type {
        border-bottom-width: 0;
      }
    }
  }
}
