/*#2098F0 #7493BC #F0FAFF #E6F4F1*/
*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, root { 
  min-height: 100%;
}

body {
  background: #E6F4F1;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.content {
  width: 100%;
  background: #efeff7;
  padding: 30px;
}

.content form{
  display: flex;
  flex-direction: column;
}

.content h1{
  color: #F0FAFF;
  margin-bottom: 8px;
}

.content form label{
  font-size: 18px;
  color: #303b63;
}

.sLink{
  font-size: 2.5vh;
  padding: 1%;
  color: #2098F0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.sLink span{
  cursor: pointer;
}

.sLink:hover{
  color: #61dafb;
}

.content form input, select{
  border: 0;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn{
  border:0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #2098F0;
  color: #F0FAFF;
  cursor: pointer;
}

.content button.btn:hover{
  background: #61dafb;
}
